#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;

  & i {
    color: rgba(0,0,0, 0.3);
  }
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel-header {
  display: flex;
}
